<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/transportdatabase</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password">myprogect</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="Role.hbm.xml"/>
    <mapping class="com.transport.system.model.Role"/>
    <mapping resource="Schedule.hbm.xml"/>
    <mapping class="com.transport.system.model.Schedule"/>
    <mapping resource="Station.hbm.xml"/>
    <mapping class="com.transport.system.model.Station"/>
    <mapping resource="Ticket.hbm.xml"/>
    <mapping class="com.transport.system.model.Ticket"/>
    <mapping resource="Train.hbm.xml"/>
    <mapping class="com.transport.system.model.Train"/>
    <mapping resource="User.hbm.xml"/>
    <mapping class="com.transport.system.model.User"/>

    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>